* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.guestShow {
    /* width: 100%; */
    min-width: 14.2rem;
    height: 100%;
    padding-top: 0.6rem;
    background: url('../img/guestShow_bg.png') no-repeat center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    position: relative;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title img {
    width: 2.52rem;
    height: 0.63rem;
    /* padding: 0;
    margin: 0;
    font-size: 0.6rem;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: rgba(242, 213, 146, 1);
    text-shadow: 0.05rem 0.05rem 0px rgba(181, 160, 16, 0.53); */
}

.main {
    width: 100%;
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
}

.main_info {
    width: 13.72rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.main_info ul {
    width: 11.14rem;
    display: flex;
    overflow-x: hidden;
}

.left,
.right {
    width: 0.42rem;
    height: 0.7rem;
    cursor: pointer;
}

/* .left {
    position: absolute;
    top: 302px;
    left: 0;
}

.right {
    position: absolute;
    top: 302px;
    right: 0;
} */

.items {
    width: 11.14rem;
    height: 6.74rem;
    background: url('../img/guestShow_kuang.png') no-repeat center center;
    background-size: 100% 100%;
    padding: 1.8rem 1.2rem;
    box-sizing: border-box;
    display: none;
}

.items_main {
    display: flex;
    align-items: center;
}

.items_title {
    width: 5.96rem;
    display: flex;
    justify-content: space-between;
}

.items_titleName {
    font-size: 0.4rem;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: rgba(250, 190, 73, 1);
    margin-right: 0.4rem;
}

.items_titleInfo {
    font-size: 0.3rem;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: rgba(250, 190, 73, 1);
    padding-top: 0.14rem;
    box-sizing: border-box;
}

.items_titleInfo_left {
    margin-right: 0.3rem;
}

.items_img {
    width: 2.09rem;
    height: 3.08rem;
    background: rgba(255, 255, 255, 1);
    border: 0.02rem solid;
    border-image: linear-gradient(150deg, rgba(245, 207, 131, 1), rgba(226, 175, 103, 1)) 2 2;
    margin-right: 0.68rem;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    /* background-size: auto; */
    /* background-size: contain; */
    /* background-size: unset; */
    /* background-size: inherit; */
    /* background-size: initial; */
}

/* .items_img img {
    width: 100%;
    height: 100%;
} */

.items_content {
    width: 5.96rem;
    height: 2.42rem;
    overflow-y: scroll;
    border: 0.02rem solid;
    border-image: linear-gradient(150deg, rgba(245, 207, 131, 1), rgba(226, 175, 103, 1)) 2 2;
    margin-top: 0.1rem;
    padding: 0.23rem 0.14rem 0.21rem 0.25rem;
}
::-webkit-scrollbar{width:0.1rem;}
::-webkit-scrollbar-track {
    background-color: #280631;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(250, 190, 73)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(250, 190, 73)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(250, 190, 73)
}

.items_content_text {
    text-indent: 0.25rem;
    font-size: 0.24rem;
    line-height: 0.3rem;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: rgba(250, 190, 73, 1);
    margin-bottom: 0.2rem;
    word-wrap: break-word;
}

.footerMain {
    width: 100%;
    height: 0.9rem;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

.footer {
    width: 100%;
    height: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 0.42rem;
    height: 0.42rem;
}

.footerLeft,
.footerRight {
    display: flex;
    align-items: center;
}

.footerLeft_items {
    text-align: center;
    margin: 0 0.18rem;
    text-decoration: none;
    display: block;
    position: relative;
}

.footerLeft_items:hover {
    text-decoration: none;
}

.footerLeft_items:first-child {
    margin-left: 0.4rem;
}

.footerLeft_items p {
    margin: 0;
    margin-top: 0.08rem;
    font-size: 0.12rem;
    font-family: 'Microsoft YaHei';
    font-weight: 400;
    color: #fff;
}

.footerRight:last-child {
    margin-right: 0.2rem;
}

.footer .imgProhibit,
.footer .imgVoice {
    width: 0.16rem;
    height: 0.16rem;
    position: absolute;
    top: 0.24rem;
    left: 0.13rem;
}

.imgVoice {
    display: none;
}