* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
}
.page1{
    /* width: 100%; */
    min-width: 14.2rem;
    height: 100%;
    padding-top: 2rem;
    background-image: url('../img/index_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    box-sizing: border-box;
    position: relative;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title_text {
    width: 9.07rem;
    /* height: 0.64rem; */
    font-size: 0.48rem;
    text-align: center;
    font-weight: bold;
    background: url('../img/text_bg.jpg') no-repeat;
    background-origin: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .title img{
    width: 13.88rem;
    height: 0.9rem;

    padding: 0;
    margin: 0;
    font-size:0.84rem;
    font-family:"Microsoft YaHei";
    font-weight:bold;
    color:rgba(242,213,146,1);
    text-shadow:0.05rem 0.05rem 0px rgba(95,71,9,1);
} */
.main{
    width: 12rem;
    margin: 1.1rem auto 0;
    /* display: flex;
    justify-content: center; */
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.list a{
    width: 1.53rem;
    height: 1.3rem;
    margin: 0 0.47rem 0.47rem 0;
    box-sizing: border-box;
}
.list_items{
    width: 1.53rem;
    height: 1.3rem;
    background: url('../img/index_kuang.png') no-repeat  center center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.47rem;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    font-size:0.26rem;
    font-family:'Microsoft YaHei';
    font-weight:bold;
    color:rgba(255,255,255,1);
    background:linear-gradient(0deg,rgba(241,167,22,1) 0%, rgba(248,209,112,1) 78.8330078125%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.footerMain{
    width: 100%;
    height: 0.9rem;
    background:rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
}
.footer{
    width: 100%;
    height: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
object {
    width: 100%;
    height: 0.9rem !important;
}
.footer img{
    width: 0.42rem;
    height: 0.42rem;
}
.footerLeft,.footerRight{
    display: flex;
    align-items: center;
}
.footerLeft_items{
    text-align: center;
    margin: 0 0.18rem;
    text-decoration: none;
    display: block;
    position: relative;
}
.footerLeft_items:hover{
    text-decoration: none;
}
.footerLeft_items:first-child{
    margin-left: 0.4rem;
}
.footerLeft_items p{
    margin: 0;
    margin-top: 0.08rem;
    font-size:0.12rem;
    font-family:'Microsoft YaHei';
    font-weight:400;
    color:#fff;
}
.footerRight:last-child{
    margin-right: 0.2rem;
}
.footer .imgProhibit,.footer .imgVoice{
    width: 0.16rem;
    height: 0.16rem;
    position: absolute;
    top: 0.24rem;
    left: 0.13rem;
}
.imgVoice{
    display: none;
}